.contactInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  width: 80%;
  margin: 0 auto;
  column-gap: 5rem;
  padding: 5rem 0 10rem;
  row-gap: 1rem;
}

.contactInfo h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.about {
  font-size: 1.5rem;
  color: #777;
  line-height: 2;
  margin-bottom: 3rem;
}

.contactBox {
  grid-column: 2;
  grid-row: 1 / -1;
  border: 3px solid #c8a97e;
  padding: 5rem;
  width: fit-content;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #777;
  align-self: end;
}

.contactBox span {
  color: #000;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.socialIcons {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 0;
}

.socialIcons img {
  width: 3rem;
  cursor: pointer;
}
