@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: #c2a4957b;
}

.home {
  background: url("../public/images/home.jpg.webp");
  height: 100vh;
}

.menu {
  background: url("../public/images/menu.jpg.webp");
  height: 75vh;
}

.blogs {
  background: url("../public/images/blog.jpg.webp");
  height: 75vh;
}

.contact {
  background: url("../public/images/contact.jpg.webp");
  height: 75vh;
}

.custom-date-picker {
  position: relative;
  background: url("../public/images/icons8-calendar-24.png") no-repeat right 3px
    center;
  background-size: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.custom-date-picker::-webkit-calendar-picker-indicator {
  display: none;
}

.leaflet-container {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  margin-top: -5rem;
  margin-bottom: 5rem;
  z-index: 1;
}

/* *************** */

/* global.css or a CSS module */

.bg-gray-100 {
  background-color: #f7fafc;
}

.shadow-2xl {
  box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.rounded-lg {
  border-radius: 0.75rem;
}

/* .grid img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
} */

.text-gray-800 {
  color: #2d3748;
}

.text-gray-600 {
  color: #718096;
}

.text-gray-900 {
  color: #1a202c;
}
