@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: #c2a4957b;
}

.home {
  background: url("../public/images/home.jpg.webp");
  height: 100vh;
}

.menu {
  background: url("../public/images/menu.jpg.webp");
  height: 75vh;
}

.blogs {
  background: url("../public/images/blog.jpg.webp");
  height: 75vh;
}

.contact {
  background: url("../public/images/contact.jpg.webp");
  height: 75vh;
}

.custom-date-picker {
  position: relative;
  background: url("../public/images/icons8-calendar-24.png") no-repeat right 3px
    center;
  background-size: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.custom-date-picker::-webkit-calendar-picker-indicator {
  display: none;
}

.leaflet-container {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  margin-top: -5rem;
  margin-bottom: 5rem;
  z-index: 1;
}
