.date {
  border: 2px solid #c4ab9f;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #fff;
  transform: translate(20%, 50%);
  color: #392f2e;
  font-weight: 600;
}

.blogCart img {
  width: 100%;
}

.blogCart h2 {
  font-size: 3rem;
  border-bottom: 3px solid #c4ab9f;
  width: fit-content;
  margin: 1rem 0 2rem;
}

.blogCart p {
  font-size: 1.6rem;
  color: #777;
  line-height: 1.8;
}

.view {
  background-color: #c4ab9f;
  border: none;
  outline: 2px solid #c4ab9f;
  padding: 1rem 5rem;
  border-radius: 5px;
  font-weight: 600;
  color: #39322e;
  font-size: 1.6rem;
  letter-spacing: 1px;
  box-shadow: 0 0 2px #000;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.view:hover {
  background-color: #fff;
}

.date {
  border: 2px solid #c4ab9f;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #fff;
  transform: translate(20%, 50%);
  font-weight: 600;
}

.date p {
  color: #604f4d;
}
