.container {
  background-color: rgba(233, 223, 243, 0.764);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgba(222, 206, 237, 0.595);
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5rem;
  box-shadow: 0 3px 10px rgba(42, 15, 67, 0.295);
}

.form input {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  padding-left: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(42, 15, 67, 0.295);
  color: rgb(78, 43, 111);
}

.form input:focus {
  outline: 3px solid rgba(42, 15, 67, 0.437);
  outline-offset: 5px;
}

.form h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: rgb(42, 15, 67);
}

.loginBtn {
  color: rgb(42, 15, 67);
  background-color: rgba(139, 99, 177, 0.604);
  padding: 0.8rem 3rem;
  border-radius: 10px;
  font-size: 1.8rem;
  margin-top: 2rem;
}
