.logo {
  margin-right: 5rem;
  line-height: 1.2;
  cursor: pointer;
  letter-spacing: -2px;
}

.logo p:first-child {
  font-size: 3rem;
}

.logo p:last-child {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  padding-left: 0.3rem;
  font-weight: 400;
}
