.navigation {
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 25rem;
  background-color: #232323;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.navigation a:hover {
  color: #c8a97e;
  text-shadow: 0 0 0 2px rgb(47, 3, 3);
}

.logo {
  margin-right: 5rem;
  line-height: 1.2;
  cursor: pointer;
  letter-spacing: -2px;
}

.logo p:first-child {
  font-size: 3rem;
}

.logo p:last-child {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  padding-left: 0.3rem;
  font-weight: bold;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 45%;
  font-size: 1.8rem;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 2rem;
}

.navigation li {
  cursor: pointer;
  transition: all 0.2s;
}

.navigation li:hover {
  color: #c8a97e;
  text-shadow: 0 0 0 2px rgb(47, 3, 3);
}

.reservation {
  border: 2px solid #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.3rem 2rem;
}
