/* .userCart {
  background-color: #ffece3;
  width: 25%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 35% 1fr 10%;
  align-items: center;
}

.userCart img {
  width: 10rem;
  height: 10rem;
}

.userInfo {
  padding: 0 0 1rem 0;
}

.userCart h2 {
  font-size: 3rem;
}

.userCart p {
  font-size: 1.8rem;
}

.deleteUser {
  font-size: 3rem;
  color: rgb(174, 34, 34);
  align-self: flex-start;
  padding-right: 1rem;
} */
