.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 5rem;
}

.profilePage h2 {
  font-size: 6rem;
  color: #564b44;
}

.profileForm {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 2rem;
  width: 50rem;
  align-items: center;
}

.profileForm label {
  font-size: 2rem;
  color: #564b44;
}

.profileForm input {
  padding: 0.5rem;
  border: none;
  outline: 2px solid #564b44;
  font-size: 2rem;
}

.submit {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 0.8rem 4rem;
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: #564b44;
  color: #fff;
  border: none;
  outline: 2px solid #564b44;
  font-weight: 600;
  margin-top: 4rem;
  transition: all 0.2s;
  cursor: pointer;
}

.submit:hover {
  background-color: #fff;
  color: #564b44;
}

.confirmation {
  font-size: 1.4rem;
  color: red;
  grid-column: 2;
  margin-top: -1.8rem;
}
