.productDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 80%;
  padding: 10rem 0;
  column-gap: 2rem;
  box-shadow: 0 10px 50px #00000024;
}

.productDetails img {
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
}

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.6rem;
}

.price {
  font-size: 3rem;
}

.btn {
  width: fit-content;
  padding: 1rem 3rem;
  background-color: rgb(250, 238, 225);
  font-family: inherit;
  font-size: 2rem;
  border-radius: 10px;
  color: rgb(108, 73, 21);
}
